# own variables
MASTOK_LOGIN=admin
MASTOK_PASSWORD=admin
MASTOK_PORT=8190

# connection to other services
MASTOK_DATABASE_URL="postgres://ps_user:pg_password@localhost/mastok"
MASTOK_OTREE_URL=http://localhost:8180/
MASTOK_OTREE_REST_KEY=key
