.navbar a {
  font-size: 1.2em;
  text-decoration: none;
  padding: 0 10px;
}

.navbar .campaign {
  font-weight: bold;
}

.navbar .state {
  font-weight: bold;
  text-transform: lowercase;
}

input#share-url {
  width: 100%;
  color: #d63384;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  padding: 0;
  border: 0 !important;
  outline: none;
}