{{define "content"}}
<div class="row">
  <div class="col-6">
    <h1>New campaign</h1>
    {{ if .Error }}
      <div class="alert alert-danger" role="alert">
        {{ .Error }}
      </div>
    {{end}}
  </div>
</div>
<form action="{{ WebPrefix }}/campaigns/new" method="POST" class="campaign-form">
  <div class="row">
    <div class="col">
      <div class="mb-3 otree-select">
        <label for="otree_config_name" class="form-label">oTree experiment*</label>
        <select name="otree_config_name" id="otree_config_name" class="form-select"
          aria-label="Default select example" required>
          {{range .Experiments}}
            <option value="{{ .Name }}" {{ if eq .Name $.Campaign.OTreeConfigName }}selected{{ end }}>{{ .Name }}</option>
          {{end}}
        </select>
        <div class="otree-doc">
          {{range .Experiments}}
            <div class="form-text {{ .Name }}">From oTree: {{ .Doc }}</div>
          {{end}}
        </div>
      </div>
      <div class="mb-3">
        <label for="namespace" class="form-label">Unique namespace*</label>
        <input value="{{ .Campaign.Namespace }}" type="text" name="namespace" id="namespace" tabindex="0" class="form-control" pattern="[a-zA-Z0-9_]+"
          minlength="2" maxlength="64" required>
        <div class="form-text">Used to build oTree session IDs, only letters and numbers</div>
      </div>
      <div class="mb-3">
        <label for="slug" class="form-label">Unique slug*</label>
        <input value="{{ .Campaign.Slug }}" type="text" name="slug" id="slug" class="form-control" pattern="[a-zA-Z0-9_]+" minlength="2"
          maxlength="64" required>
        <div class="form-text">Used to share campaign URL, only letters and numbers</div>
      </div>
      <div class="mb-3">
        <label for="per_session" class="form-label">Participants per session*</label>
        <input value="{{ or .Campaign.PerSession "" }}" type="number" name="per_session" id="per_session" min=1 max=32 class="form-control" required>
      </div>
      <div class="mb-3">
        <input {{if .Campaign.JoinOnce}}checked{{end}} value="true" class="form-check-input" type="checkbox" name="join_once" id="join_once">
        <label for="join_once" class="form-label">Restrict participations (once per campaign)</label>
        <div class="form-text">Relies on device fingerprinting</div>
      </div>
      <div class="mb-3">
        <input {{if .Campaign.ShowNbParticipants}}checked{{end}} value="true" class="form-check-input" type="checkbox" name="ShowNbParticipants" id="show_nb_of_participants">
        <label for="ShowNbParticipants" class="form-label">Show to participants how many participants are connected while waiting</label>
      </div> 
      <div class="mb-3">
        <label for="max_sessions" class="form-label">Total number of sessions for the campaign*</label>
        <input value="{{ or .Campaign.MaxSessions "" }}" type="number" name="max_sessions" id="max_sessions" min=1 max=128 class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="concurrent_sessions" class="form-label">Number of sessions run concurrently*</label>
        <input value="{{ or .Campaign.ConcurrentSessions "1"}}" type="number" name="concurrent_sessions" id="concurrent_sessions" min=1 max=32
          class="form-control" required>
        <div class="form-text">Leave 1 if you don't want to run several sessions at the same time</div>
      </div>
      <div class="mb-3">
        <label for="session_duration" class="form-label">Maximum duration of a session (in minutes)*</label>
        <input value="{{ or .Campaign.SessionDuration "10"}}" type="number" name="session_duration" id="session_duration" min=1 max=99 class="form-control" required>
        <div class="form-text">Information needed to manage concurrent sessions and participants reconnections</div>
      </div>
      <div class="mb-3">
        <label for="waiting_limit" class="form-label">Maximum waiting time before session (in minutes)*</label>
        <input value="{{ or .Campaign.WaitingLimit "5"}}" type="number" name="waiting_limit" id="waiting_limit" min=1 max=30 class="form-control" required>
        <div class="form-text">If participants room is incomplete after this limit, participants will be disconnected
        </div>
      </div>    
      <div class="mb-3">
        <label for="grouping" class="form-label">Grouping rule (optional, leave empty if no grouping is needed)</label>
        <textarea name="grouping" id="grouping" class="form-control" rows="4">{{ or .Campaign.Grouping ""}}</textarea>
        <div class="form-text">
          <div class="row">
            <div class="col-6">
              <p class="m-0">Follow this pattern</p>
              <code>Question</code><br/>
              <code>Group1:size1</code><br/>
              <code>Group2:size2</code><br/>
              <p class="m-0">...more groups if needed...</p>
              <code>Action</code>
            </div>
            <div class="col-6">
              <p class="m-0">For instance with two groups</p>
              <code>What is your gender?</code><br/>
              <code>Male:4</code><br/>
              <code>Female:4</code><br/>
              <code>Choose</code>
            </div>
          </div>
          <p class="m-0">The sum of groups size must match the "Participants per session" property (on the left),</p>
          <p class="m-0"><code>Action</code> is the text displayed in the button that validates the participant choice.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="mb-4">
        <label for="consent" class="form-label">Consent in markdown*</label>
        <textarea name="consent" id="consent" class="form-control" rows="7" required>{{ or .Campaign.Consent "# Optional Title\n\n...details...\n\n[accept]Consent[/accept]"}}</textarea>
        <div class="form-text">
          <div class="row">
            <div class="col-6">
              <p class="m-0">Write markdown</p>
              <code># Title</code><br/>
              <code>- [X] pre-checked checkbox</code><br/>
              <code>- [ ] paragraph that needs to be checked...</code><br/>
              <p class="m-0">It must end with this tag ("Consent" can be changed)</p>
              <code>[accept]Consent[/accept]</code><br/>
            </div>
            <div class="col-6">
              <p class="m-0">An alert tag should be added if checkboxes are used (this alert will only be shown if the participant tries to consent without ticking checkboxes)</p>
              <code>[alert]Accepting conditions above is required before starting[/alert]</code><br/>
            </div>
            <div class="col-6">
              <p class="m-0">You can also add <code>[ducksoup_test]</code> or <code>[ducksoup_audio_test]</code>to add a link to a ducksoup test that opens in a new tab. Alternatively, you can add <code>[new_link] your link [end_link]</code>, where "your link" will link to an external link and open in a new tab.)</p>
            </div>

          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="instructions" class="form-label">Instructions in markdown (optional, displayed when waiting)</label>
        <textarea name="instructions" id="instructions" class="form-control" rows="4">{{ or .Campaign.Instructions ""}}</textarea>
      </div>
      <div class="mb-3">
        <label for="paused" class="form-label">Paused message in markdown (optional)</label>
        <textarea name="paused" id="paused" class="form-control" rows="4">{{ or .Campaign.Paused ""}}</textarea>
      </div>
      <div class="mb-3">
        <label for="completed" class="form-label">Completed message in markdown (optional)</label>
        <textarea name="completed" id="completed" class="form-control" rows="4">{{ or .Campaign.Completed ""}}</textarea>
      </div>
      <div class="mb-3">
        <label for="pending" class="form-label">Pending message in markdown —the one shown if all sessions are running concurrently (optional) </label>
        <textarea name="pending" id="pending" class="form-control" rows="4">{{ or .Campaign.Pending ""}}</textarea>
      </div>      
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </div>
</form>
{{end}}