{{define "navcontents"}}
<div class="d-flex">
	<div class="navbar-text">
		Campaign <span class="campaign">{{ .Campaign.Namespace }}</span> in <span class="state" id="state">...</span> state
	</div>
	<input id="change-state-container" type="button" class="btn btn-outline-primary btn-sm ms-2" value="..." />
</div>
{{end}}

{{define "content"}}
<div class="row">
	<div class="col-4">
		<table class="table table-sm">
			<thead>
			<tbody>
				<tr>
					<th scope="row"><a href="{{ WebPrefix }}/campaigns/edit/{{ .Campaign.Namespace }}" class="fw-normal">Edit campaign</a></th>
					<td></td>
				</tr>
				<tr>
					<th scope="row">Namespace</th>
					<td>{{ .Campaign.Namespace }}</td>
				</tr>
				<tr>
					<th scope="row">Slug</th>
					<td>{{ .Campaign.Slug }}</td>
				</tr>
				<tr>
					<th scope="row">Experiment</th>
					<td>{{ .Campaign.OTreeConfigName }}</td>
				</tr>
				<tr>
					<th scope="row">Participants per session</th>
					<td>{{ .Campaign.PerSession }}</td>
				</tr>
				<tr>
					<th scope="row">Join once</th>
					<td>{{if .Campaign.JoinOnce}}yes{{else}}no{{end}}</td>
				</tr>
				<tr>
					<th scope="row">Max sessions</th>
					<td>{{ .Campaign.MaxSessions }}</td>
				</tr>
				<tr>
					<th scope="row">Max concurrent sessions</th>
					<td>{{ .Campaign.ConcurrentSessions }}</td>
				</tr>
				<tr>
					<th scope="row">Session duration</th>
					<td>{{ .Campaign.SessionDuration }} mn</td>
				</tr>
				<tr>
					<th scope="row">Grouping</th>
					<td>{{if .Campaign.Grouping}}yes{{else}}no{{end}}</td>
				</tr>
				<tr>
					<th class="align-middle" scope="row">Consent</th>
					<td>
						<button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
							data-bs-target="#consent-modal">preview</button>
					</td>
				</tr>
				<tr>
					<th class="align-middle" scope="row">Instructions</th>
					<td>
						<button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
							data-bs-target="#instructions-modal">preview</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col">
		<div class="row mb-3">
			<div class="col">
				<div class="card">
					<div class="card-header">Waiting room</div>
					<div class="card-body">
						<div id="new-container" class="alert alert-success" role="alert" style="display: none">
							New session started (page refreshing in 3 seconds)
						</div>
						<div id="paused-container" class="alert alert-secondary" role="alert" style="display: none">
							Campaign is paused
						</div>
						<div id="busy-container" class="alert alert-warning" role="alert" style="display: none">
							Concurrent sessions limit reached
						</div>
						<div id="completed-container" class="alert alert-dark" role="alert" style="display: none">
							Campaign has been completed
						</div>
						<div id="size-container" style="display: none">
							<dl>
								<dt>Pool size for next session</dt>
								<dd><span id="joining-size">...</span></dd>
								<dt>Other participants pending</dt>
								<dd><span id="pending-size">...</span></dd>
								<dt>Share URL</dt>
								<dd><input id="share-url" readonly value="{{ .Campaign.ShareURL }}"></dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-header">Previous sessions started</div>
					<div class="card-body">
						{{if not .Campaign.Sessions}}
						None
						{{else}}
						<table class="table">
							<thead>
								<tr>
									<th>Created at</th>
									<th>Session ID</th>
									<th>oTree admin URL</th>
								</tr>
							</thead>
							<tbody>
								{{range .Campaign.Sessions}}
								<tr>
									<td>{{ .FormatCreatedAt }}</td>
									<td>{{ .OtreeId }}</td>
									<td><a href="{{ .AdminUrl }}" target="_blank">{{ .Code }}</a></td>
								</tr>
								{{end}}
							</tbody>
						</table>
						{{end}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="consent-modal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Consent Preview</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body consent">
				{{ .RenderedConsent }}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="instructions-modal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Instructions Preview</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body instructions">
				{{ .RenderedInstructions }}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script src="{{ WebPrefix }}/assets/v1.0/js/supervise.js"></script>
{{end}}