{{define "content"}}
<div class="row">
  <div class="col-6">
    <h1>Edit campaign</h1>
    {{ if .Error }}
      <div class="alert alert-danger" role="alert">
        {{ .Error }}
      </div>
    {{end}}
  </div>
</div>
<form action="{{ WebPrefix }}/campaigns/edit/{{ .Campaign.Namespace }}" method="POST">
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="otree_experiment_id" class="form-label">oTree experiment (can't be edited)</label>
        <input value="{{ .Campaign.OtreeExperiment }}" type="text" class="form-control" disabled>
      </div>
      <div class="mb-3">
        <label for="namespace" class="form-label">Namespace (can't be edited)</label>
        <input value="{{ .Campaign.Namespace }}" type="text" class="form-control" disabled>
      </div>
      <div class="mb-3">
        <label for="slug" class="form-label">Unique slug*</label>
        <input value="{{ .Campaign.Slug }}" type="text" name="slug" id="slug" tabindex="0" class="form-control" pattern="[a-zA-Z0-9_]+" minlength="2"
          maxlength="64" required>
        <div class="form-text">Used to share campaign URL, only letters and numbers</div>
      </div>
      <div class="mb-3">
        <label for="per_session" class="form-label">Participants per session*</label>
        <input value="{{ .Campaign.PerSession }}" type="number" name="per_session" id="per_session" min=1 max=32 class="form-control" required>
      </div>
      <div class="mb-3">
        <input {{if .Campaign.JoinOnce}}checked{{end}} value="true" class="form-check-input" type="checkbox" name="join_once" id="join_once">
        <label for="join_once" class="form-label">Restrict participations (once per campaign)</label>
        <div class="form-text">Relies on device fingerprinting</div>
      </div>
      <div class="mb-3">
        <label for="max_sessions" class="form-label">Total number of sessions for the campaign*</label>
        <input value="{{ .Campaign.MaxSessions }}" type="number" name="max_sessions" id="max_sessions" min=1 max=32 class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="concurrent_sessions" class="form-label">Number of sessions run concurrently*</label>
        <input value="{{ .Campaign.ConcurrentSessions }}" type="number" name="concurrent_sessions" id="concurrent_sessions" value=1 min=1 max=32
          class="form-control" required>
        <div class="form-text">Leave 1 if you don't want to run several sessions at the same time</div>
      </div>
      <div class="mb-3">
        <label for="session_duration" class="form-label">Maximum duration of a session (in minutes)*</label>
        <input value="{{ .Campaign.SessionDuration }}" type="number" name="session_duration" id="session_duration" min=1 max=99 class="form-control" required>
        <div class="form-text">Information needed to manage concurrent sessions and participants reconnections</div>
      </div>
      <div class="mb-3">
        <label for="waiting_limit" class="form-label">Maximum waiting time (in minutes)*</label>
        <input value="{{ .Campaign.WaitingLimit }}" type="number" name="waiting_limit" id="waiting_limit" value=4 min=1 max=12 class="form-control" required>
        <div class="form-text">If waiting room is incomplete after this limit, participants will be disconnected
        </div>
      </div>
    </div>
    <div class="col">
      <div class="mb-4">
        <label for="consent" class="form-label">Consent in markdown</label>
        <textarea name="consent" id="consent" class="form-control" rows="7" required>{{ .Campaign.Consent }}</textarea>
        <div class="form-text">
          <div class="row">
            <div class="col-6">
              <p class="m-0">Write markdown</p>
              <code># Title</code><br/>
              <code>- [X] pre-checked checkbox</code><br/>
              <code>- [ ] paragraph that needs to be checked...</code><br/>
              <p class="m-0">It must end with this tag ("Consent" can be changed)</p>
              <code>[accept]Consent[/accept]</code><br/>
            </div>
            <div class="col-6">
              <p class="m-0">An alert tag should be added if checkboxes are used (this alert will only be shown if the participant tries to consent without ticking checkboxes)</p>
              <code>[alert]Accepting conditions above is required before starting[/alert]</code><br/>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="grouping" class="form-label">Grouping rule (optional, leave empty if no grouping is needed)</label>
        <textarea name="grouping" id="grouping" class="form-control" rows="4">{{ .Campaign.Grouping }}</textarea>
        <div class="form-text">
          <div class="row">
            <div class="col-6">
              <p class="m-0">Follow this pattern</p>
              <code>Question</code><br/>
              <code>Group1:size1</code><br/>
              <code>Group2:size2</code><br/>
              <p class="m-0">...more groups if needed...</p>
              <code>Action</code>
            </div>
            <div class="col-6">
              <p class="m-0">For instance with two groups</p>
              <code>What is your gender?</code><br/>
              <code>Male:4</code><br/>
              <code>Female:4</code><br/>
              <code>Choose</code>
            </div>
          </div>
          <p class="m-0">The sum of groups size must match the "Participants per session" property (on the left),</p>
          <p class="m-0"><code>Action</code> is the text displayed in the button that validates the participant choice.</p>
        </div>
      </div>
      <div class="mb-3">
        <label for="instructions" class="form-label">Instructions in markdown (optional, displayed when waiting)</label>
        <textarea name="instructions" id="instructions" class="form-control" rows="4">{{ .Campaign.Instructions}}</textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
{{end}}