{{define "content"}}
<div class="row">
	<div class="col">
		<h1>Campaigns <a href="/campaigns/new" type="button" class="btn btn-primary float-end">New</a></h1>
		<table class="table">
			<thead>
				<tr>
					<th>Creation</th>
					<th>Namespace</th>
					<th>Per session</th>
					<th>Max sessions</th>
					<th>Sessions started</th>
					<th>State</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{range .Campaigns}}
				<tr>
					<td>{{ .FormatCreatedAt }}</td>
					<td>{{ .Namespace }}</td>
					<td>{{ .PerSession }}</td>
					<td>{{ .MaxSessions }}</td>
					<td>{{ .StartedSessions }}</td>
					<td>{{ .State }}</td>
					<td><a href="/campaigns/supervise/{{ .Namespace }}" class="float-end">Supervise</a></td>
				</tr>
				{{end}}
			</tbody>
		</table>
	</div>
</div>
{{end}}