{{define "content"}}
<div class="row">
  <div class="col-5">
    <h1>New campaign</h1>
    {{ .Error }}
    <form action="/campaigns" method="POST">
      <div class="mb-3">
        <label for="namespace" class="form-label">Unique namespace*</label>
        <input type="text" name="namespace" id="namespace" tabindex="0" class="form-control" pattern="[a-zA-Z0-9]+" minlength="2" maxlength="64" required>
        <div class="form-text">Used to build oTree session IDs, only letters and numbers</div>
      </div>
      <div class="mb-3">
        <label for="slug" class="form-label">Unique slug*</label>
        <input type="text" name="slug" id="slug" class="form-control" pattern="[a-zA-Z0-9]+" minlength="2" maxlength="64" required>
        <div class="form-text">Used to share campaign URL, only letters and numbers</div>
      </div>
      <div class="mb-3">
        <label for="info" class="form-label">Additional info</label>
        <input type="text" name="info" id="info" class="form-control" maxlength="128">
      </div>
      <div class="mb-3">
        <label for="config" class="form-label">Experiment*</label>
        <select name="config" id="config" class="form-select" aria-label="Default select example" required>
          {{range .Experiments}}
            <option value="{{ .Id }}">{{ .Name }}</option>
          {{end}}
        </select>
      </div>
      <div class="mb-3">
        <label for="per_session" class="form-label">Participants per session*</label>
        <input type="number" name="per_session" id="per_session" min=1 max=32 class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="max_sessions" class="form-label">Total number of sessions for the campaign*</label>
        <input type="number" name="max_sessions" id="max_sessions" min=1 max=32 class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="concurrent_sessions" class="form-label">Number of sessions run concurrently*</label>
        <input type="number" name="concurrent_sessions" id="concurrent_sessions" value=1 min=1 max=32 class="form-control" required>
        <div class="form-text">Leave 1 if you don't want to run several sessions at the same time</div>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>
{{end}}