{{define "navcontents"}}
<div class="d-flex">
	<div class="navbar-text">
		Campaign <span class="campaign">{{ .Campaign.Namespace }}</span> in <span class="state" id="state">...</span> state
	</div>
	<input id="change-state-container" type="button" class="btn btn-outline-primary btn-sm ms-2" value="..." />
</div>
{{end}}

{{define "content"}}
<div class="row">
	<div class="col-4">
		<table class="table table-sm">
			<thead>
			<tbody>
				<tr>
					<th scope="row">Namespace</th>
					<td>{{ .Campaign.Namespace }}</td>
				</tr>
				<tr>
					<th scope="row">Slug</th>
					<td>{{ .Campaign.Slug }}</td>
				</tr>
				<tr>
					<th scope="row">Experiment</th>
					<td>{{ .Campaign.OtreeExperiment }}</td>
				</tr>
				<tr>
					<th scope="row">Participants per session</th>
					<td>{{ .Campaign.PerSession }}</td>
				</tr>
				<tr>
					<th scope="row">Join once</th>
					<td>{{if .Campaign.JoinOnce}}yes{{else}}no{{end}}</td>
				</tr>
				<tr>
					<th scope="row">Max sessions</th>
					<td>{{ .Campaign.MaxSessions }}</td>
				</tr>
				<tr>
					<th scope="row">Max concurrent sessions</th>
					<td>{{ .Campaign.ConcurrentSessions }}</td>
				</tr>				
				<tr>
					<th scope="row">Grouping</th>
					<td>{{if .Campaign.Grouping}}yes{{else}}no{{end}}</td>
				</tr>
				<tr>
					<th scope="row">Session duration</th>
					<td>{{ .Campaign.SessionDuration }} mn</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col">
		<div class="row mb-3">
			<div class="col">
				<div class="card">
					<div class="card-header">Current pool</div>
					<div class="card-body">
						<div id="new-container" class="alert alert-success" role="alert" style="display: none">
							New session started (page refreshing in 3 seconds)
						</div>
						<div id="paused-container" class="alert alert-secondary" role="alert" style="display: none">
							Campaign is paused
						</div>
						<div id="busy-container" class="alert alert-warning" role="alert" style="display: none">
							Concurrent sessions limit reached
						</div>
						<div id="completed-container" class="alert alert-dark" role="alert" style="display: none">
							Campaign has been completed
						</div>
						<div id="size-container">
							<dl>
								<dt>Size</dt>
								<dd><span id="pool-size">...</span></dd>
								<dt>Share URL</dt>
								<dd><input id="share-url" readonly value="{{ .Campaign.ShareURL }}"></dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-header">Previous sessions started</div>
					<div class="card-body">
						{{if not .Campaign.Sessions}}
							None
						{{else}}
							<table class="table">
								<thead>
									<tr>
										<th>Created at</th>
										<th>Session ID</th>
										<th>oTree admin URL</th>
									</tr>
								</thead>
								<tbody>
									{{range .Campaign.Sessions}}
									<tr>
										<td>{{ .FormatCreatedAt }}</td>
										<td>{{ .OtreeId }}</td>
										<td><a href="{{ .AdminUrl }}" target="_blan">{{ .Code }}</a></td>
									</tr>
									{{end}}
								</tbody>
							</table>
						{{end}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		{{ .RenderedConsent }}
	</div>
</div>

<script src="{{ WebPrefix }}assets/scripts/supervise.js"></script>
{{end}}