{{define "content"}}
<div class="row">
	<div class="col">
		<h1>Dashboard</h1>
		<ul>
			<li><a href="{{ WebPrefix }}/campaigns">Mastok campaigns</a></li>
			<li><a href="{{ WebPrefix }}/sessions">oTree sessions</a> created from Mastok</li>
			<li class="mt-2"><a href="{{ OTreePublicURL }}/server_check" target="_blank">oTree server check</a></li>
		</ul>
	</div>
</div>
{{end}}